@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fffaf5;
  --color-secondary: #ff7b54;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #ff7b54;
}

*{
  font-family: "Comfortaa", sans-serif;
}